.text {
  font-size: 1.5rem;
  /* font-weight: bold; */
  text-align: center;
  color: #ffffff;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.sub-text {
  font-size: 1rem;
  color: #ffffff;
  text-align: center;
  margin-bottom: 2rem;
  /* font-style: italic; */
}

.seemore-button {
  display: flex;
  justify-content: center;
  padding: 0% 20% 2% 20%;
}

.pagination {
  display: flex;
  justify-content: center;
  margin: 20px 10%;
  flex-wrap: wrap;
}

.page-button {
  margin: 5px;
  padding: 8px 12px;
  border: none;
  background-color: #f0f0f0;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.page-button.active {
  background-color: #211472;
  color: white;
  font-weight: bold;
}

.page-button:hover {
  background-color: #9747ff;
  color: white;
}

@media (max-width: 768px) {
  .pagination {
    margin: 10px 5%;
  }

  .page-button {
    padding: 6px 10px;
    font-size: 14px;
  }
}

@media (max-width: 480px) {
  .pagination {
    align-items: center;
  }

  .page-button {
    width:auto;
    flex-wrap: wrap;
    text-align: center;
    margin: 5px 0;
  }
}
