.blog {
  display: flex;
  flex-direction: column;
  min-height: auto;
}

.blog-card {
  display: flex;
  color: #fff;
  width: 80%;
  margin: 0 auto;
  max-height: auto;
  gap: 1rem;
  border-radius: 15px;
}

.author-main {
  font-size: 16px;
  color: #f1f1f1; 
  display: inline; 
  font-style: italic;
}

.author-main .author {
  font-style: normal;
  color: #9b59b6;
  font-weight: bold; 
}

.blog-text {
  font-size: 1.5rem;
  color: white;
  text-align: center;
}

.blog-subtext {
  font-size: 1rem;
  color: white;
  text-align: center;
}

.blog-image {
  width: 50%;
  height: 15.625rem;
  object-fit: cover;
  border-radius: 5%;
  margin: auto;
}

.blog-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-grow: 1;
  overflow: hidden;
}

.blog-content h2 {
  font-size: 1.8rem;
  margin-bottom: 0.8rem;
  text-align: left;
}

.blog-content p {
  font-size: 1rem;
  margin-bottom: 1rem;
  text-align: left;
  white-space: pre-wrap;
  word-wrap: break-word;
  overflow: hidden;
  text-align: justify;
}

/* Breakpoints for responsiveness */

@media screen and (max-width: 1040px) {
  .blog-card {
    width: 90%;
  }
  .blog-image {
    width: 60%;
    height: 12rem;
  }
  .blog-content h2 {
    font-size: 1.6rem;
  }
  .blog-content p {
    font-size: 0.95rem;
  }
}

@media screen and (max-width: 960px) {
  .blog-card {
    width: 95%;
  }
  .blog-image {
    width: 70%;
    height: 10rem;
  }
  .blog-content h2 {
    font-size: 1.4rem;
  }
  .blog-content p {
    font-size: 0.9rem;
  }
}

@media screen and (max-width: 720px) {
  .blog-card {
    width: 100%;
    flex-direction: column;
  }
  .blog-image {
    width: 80%;
    height: 10rem;
  }
  .blog-content h2 {
    font-size: 1.3rem;
  }
  .blog-content p {
    font-size: 0.9rem;
  }
}

@media screen and (max-width: 480px) {
  .blog-card {
    width: 100%;
  }
  .blog-image {
    width: 100%;
    height: 8rem;
  }
  .blog-content h2 {
    font-size: 1.2rem;
  }
  .blog-content p {
    font-size: 0.85rem;
  }
}

@media screen and (max-width: 380px) {
  .blog-card {
    width: 100%;
  }
  .blog-image {
    width: 100%;
    height: 7rem;
  }
  .blog-content h2 {
    font-size: 1.1rem;
  }
  .blog-content p {
    font-size: 0.8rem;
  }
}
