.client-gallery-wrapper {
  padding: 0rem 5rem;
  margin: 0 auto;
  max-width: 1280px;
}
.client-text-h4 {
  font-weight: bold;
  font-size: 1.6rem;
  text-align: center;
  margin-bottom: 20px;
  padding: 10px;
  color: white;
}

.client-gallery {
  display: grid;
  grid-template-columns: repeat(
    auto-fit,
    minmax(250px, 1fr)
  ); /* Responsive columns */
  gap: 20px;
  justify-content: center;
}

.client-card-item {
  position: relative;
  width: 100%; /* Make width flexible based on grid */
  height: 250px;
  overflow: hidden;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease;
}

.client-card-item:hover {
  transform: scale(1.05);
}

.client-card-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: opacity 0.3s ease;
}

.client-card-item:hover .client-card-image {
  opacity: 0.7;
}

.client-card-name {
  position: absolute;
  bottom: 10px;
  left: 0;
  right: 0;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  color: white;
  background: rgba(0, 0, 0, 0.6);
  padding: 5px;
  transition: opacity 0.3s ease;
  opacity: 0;
}

.client-card-item:hover .client-card-name {
  opacity: 1;
}

.see-more-button-container {
  transition: background-color 0.3s ease;
  display: flex;
  justify-content: center;
  margin: 1% 2%;
}

@media (max-width: 1024px) {
  .client-gallery {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }

  .client-card-item {
    height: 220px;
  }
}

@media (max-width: 768px) {
  .client-gallery {
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 15px;
  }

  .client-card-item {
    height: 200px;
  }

  .client-card-name {
    font-size: 16px;
  }
}

@media (max-width: 480px) {
  .client-gallery {
    grid-template-columns: 1fr;
    gap: 10px;
  }

  .client-card-item {
    height: 180px;
  }

  .client-card-name {
    font-size: 14px;
    padding: 4px;
  }

  .see-more-button-container {
    margin: 5% 0;
  }
}
