.contact-page-container {
  display: flex;
  background-color: #12111c;
  color: #ffffff;
  width: 90%;
  margin: 0 auto;
  min-height: 100vh;
}
.form-submit-button {
  display: block;
  width: 100%;
  margin: 0;
}
.contact-left-section,
.contact-right-section {
  width: 50%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}

.consultant-form-wrapper,
.reach-details {
  width: 100%;
  padding: 1rem;
  border-radius: 1rem;
  background: linear-gradient(#12111c, #12111c) padding-box,
    linear-gradient(90deg, #452ed2, #9747ff, #250d40, #6647ff) border-box;
  border: 0.2rem solid transparent;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}

.consultant-form h1 {
  font-size: 2rem;
}

.consultant-form h2 {
  font-size: 1rem;
}

.input-group {
  position: relative;
  margin-bottom: 1.875rem;
}

.input-field {
  font-size: 1rem;
  padding: 0.625rem;
  width: 100%;
  border: none;
  border-bottom: 1px solid #ffffff;
  background: transparent;
  color: #ffffff;
}

.input-field:focus {
  outline: none;
}

label {
  color: #999;
  font-size: 1.125rem;
  position: absolute;
  pointer-events: none;
  left: 0.3125rem;
  top: 0.625rem;
  transition: 0.2s ease all;
}

.input-field:focus ~ label,
.input-field:not(:placeholder-shown) ~ label {
  top: -1.25rem;
  font-size: 0.875rem;
  color: #ffffff;
}

.form-submit-button {
  width: 100%;
  padding: 0.625rem;
  background-color: #ffffff;
  color: #12111c;
  font-weight: bold;
  cursor: pointer;
  border: none;
  border-radius: 0.3125rem;
}

.image-overlay-section {
  position: relative;
  width: 100%;
  height: 100%;
}

.image-overlay-section img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px;
}

.overlay-message {
  position: absolute;
  bottom: 1.25rem;
  left: 1.25rem;
  color: white;
  padding: 2%;
}

.overlay-message h1 {
  font-size: 2rem;
}

.overlay-message p,
.overlay-message h2 {
  font-size: 0.8rem;
}

.reach-details {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: center;
  padding: 4%;
}

.reach-text {
  display: flex;
  flex-direction: column;
  margin: -0.8rem;
  margin-bottom: -0.1;
}

.reach-icon {
  width: 1rem;
  margin-right: 0.625rem;
}

.reach-details p a {
  color: #ffffff;
  text-decoration: none;
  font-size: 0.8rem;
}

.reach-details h2 {
  font-size: 1.5rem;
}

.vertical-line {
  height: 70%;
  border-left: 0.125rem solid #ffffff;
  margin-right: 1.25rem;
}

@media (max-width: 1040px) {
  .contact-page-container {
    flex-direction: row;
  }

  .contact-left-section,
  .contact-right-section {
    width: 100%;
  }

  .consultant-form h1 {
    font-size: 1.8rem;
  }

  .consultant-form h2,
  .input-field {
    font-size: 0.9rem;
  }
  .reach-details p a {
    color: #ffffff;
    text-decoration: none;
    font-size: 0.7rem;
  }
  .reach-details h2 {
    font-size: 1.3rem;
  }
  .form-submit-button {
    padding: 0.5rem;
    font-size: 0.9rem;
  }

  .overlay-message h1 {
    font-size: 1.8rem;
  }
}

@media (max-width: 900px) {
  .consultant-form h1 {
    font-size: 1.6rem;
  }

  .consultant-form h2,
  .input-field {
    font-size: 0.85rem;
  }
  .reach-details p a {
    color: #ffffff;
    text-decoration: none;
    font-size: 0.65rem;
  }
  .form-submit-button {
    padding: 0.5rem;
    font-size: 0.85rem;
  }

  .overlay-message h1 {
    font-size: 1.6rem;
  }

  .overlay-message p,
  .overlay-message h2 {
    font-size: 0.75rem;
  }
  .vertical-line {
    display: none;
  }
}

@media (max-width: 760px) {
  .consultant-form h1 {
    font-size: 1.4rem;
  }
  .contact-page-container {
    flex-direction: column;
    width: 100%;
    padding: 0.5rem;
  }
  .reach-details {
    flex-direction: column;
    align-items: flex-start;
    padding: 0.5rem;
  }
  .reach-text {
    padding: 1rem;
  }
  .consultant-form h2,
  .input-field {
    font-size: 0.8rem;
  }

  .form-submit-button {
    padding: 0.4rem;
    font-size: 0.8rem;
  }

  .overlay-message h1 {
    font-size: 1.4rem;
  }

  .overlay-message p,
  .overlay-message h2 {
    font-size: 0.7rem;
  }
}
@media (max-width: 480px) {
  .contact-page-container {
    flex-direction: column;
    width: 100%;
    padding: 0.25rem;
  }

  .contact-left-section,
  .contact-right-section {
    width: 100%;
    padding: 0.5rem;
    gap: 1rem;
  }

  .consultant-form h1 {
    font-size: 1.2rem;
  }

  .consultant-form h2,
  .input-field {
    font-size: 0.7rem;
  }

  .form-submit-button {
    padding: 0.375rem;
    font-size: 0.75rem;
  }

  .overlay-message h1 {
    font-size: 1.2rem;
  }

  .overlay-message p,
  .overlay-message h2 {
    font-size: 0.6rem;
  }

  .reach-details {
    flex-direction: column;
    align-items: flex-start;
    padding: 0.5rem;
  }

  .reach-details p a {
    font-size: 0.6rem;
  }

  .reach-details h2 {
    font-size: 1.2rem;
  }

  .image-overlay-section {
    height: 180px;
  }

  .vertical-line {
    display: none;
  }

  .reach-icon {
    width: 0.8rem;
    margin-right: 0.375rem;
  }
}
